.contain {
  background: url(../asset/img/trees.png), url(../asset/img/fougeres.png);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.info {
  width: auto;
  color: white;
  font-size: 15px;
  padding: 7px 15px;
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  width: auto;
  bottom: 10px;
  font-family: "GROBOLD";
  box-shadow: 10px 10px 40px 0px #00000079;
}

.info--menuBtn {
  cursor: pointer;
  right: 10px;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  background-image: url('../asset/img/grass.png');
}

.sprite {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: 100;
}

.hero {
  @extend .sprite;
  background-image: url("../asset/img/persoWalkA.png");
  animation: hero-move 0.5s infinite;
}

@keyframes hero-move {
  25% {
    background-image: url("../asset/img/persoWalkB.png");
  }
  50% {
    background-image: url("../asset/img/persoWalkC.png");
  }
  75% {
    background-image: url("../asset/img/persoWalkD.png");
  }
}

.badboy {
  @extend .sprite;
  background-image: url("../asset/img/badWalkA.png");
  animation: bad-move 0.5s infinite;
}

@keyframes bad-move {
  33% {
    background-image: url("../asset/img/badWalkB.png");
  }
  66% {
    background-image: url("../asset/img/badWalkC.png");
  }
}

.bullet {
  @extend .sprite;
  width: 20px;
  height: 20px;
  top: 33px;
  left: 25px;
}

.fireball {
  @extend .bullet;
  background-image: url(../asset/img/flame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.waterball {
  @extend .bullet;
  background-image: url(../asset/img/water.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lives {
  display: flex;
  justify-content: center;

  .heart {
    background-image: url(../asset/img/heart.png);
    height: 45px;
    width: 45px;
    background-position: center;
    background-size: contain;
  }
}

.tile {
  background-image: url(../asset/img/grass.png);
  position: absolute;
  z-index: 10;
}

.tile--burned {
  background-image: url(../asset/img/burned-tile-flame.png),
    url(../asset/img/burned-tile.png);
  background-size: cover;
  border-radius: 20%;
}

.menuBtn {
  color: white;
  font-size: 15px;
  padding: 7px 15px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "GROBOLD";
  box-shadow: 10px 10px 40px 0px #00000079;
}
